img {
    cursor:pointer;
    margin: 0.5vw;
    width: 22vw;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: 0.30s ease-in-out;
    -moz-transition: 0.30s ease-in-out;
    -o-transition: 0.30s ease-in-out;
    transition: 0.30s ease-in-out;
}
img:hover{
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    -webkit-transition: 0.20s ease-in-out;
    -moz-transition: 0.20s ease-in-out;
    -o-transition: 0.20s ease-in-out;
    transition: 0.20s ease-in-out;
    transform: scale(1.02);
}